<html>
<head>
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 22.10.2019, 14:40</p>
        <h2><a href="">My first post</a></h2>
        <p>HWÆT: WE GAR-DENA    IN GEARDAGUM
           þeodcyninga    þrym gefrunon.
           Hu ða æþelingas    ellen fremedon!
           Oft Scyld Scefing    sceaþena þreatum
            monegum mægþum    meodosetla ofteah,
            egsode eorl,    syððan ærest wearð
            feasceaft funden.    He þæs frofre gebad,
            weox under wolcnum,    weorðmyndum þah,
            oð þæt him æghwylc    þara ymbsittendra
            ofer hronrade    hyran scolde,
            gomban gyldan.    Þæt wæs god cyning.</p>
    </div>

    <div>
        <p>publishedL 22.10.2019, 15:15</p>
        <h2><a href="">My second post</a></h2>
        <p>Ðæm eafera wæs    æfter cenned,
            geong in geardum,    þone God sende
            folce to frofre.    Fyrenðearfe ongeat.
            Þæt hie ær drugon    aldorlease
            lange hwile.    Him þæs Liffrea,
            wuldres wealdend,    woroldare forgeaf.
            Beowulf wæs breme,    blæd wide sprang,
            Scyldes eafera    Scedelandum in.
            Swa sceal geong guma    gode gewyrcean,
            fromum feohgiftum    on fæder |bearme,
            þæt hine on ylde    eft gewunigen
            wilgesiþas,    þonne wig cume,
            leode gelæsten.</p>
    </div>
</body>
</html>